<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Barra de Progreso</h4>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [attr.ariaValuenow]="progressBarValue1"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="progressBarValue1 + '%'"
          ></div>
        </div>
        <br />
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-success"
            role="progressbar"
            [attr.ariaValuenow]="progressBarValue2"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="progressBarValue2 + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer
          (valorChangeEvent)="progressBarValue1 = $event"
          [leyenda]="'Progress Bar 1'"
          [progress]="progressBarValue1"
        ></app-incrementer>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer
          (valorChangeEvent)="progressBarValue2 = $event"
          [leyenda]="'Progress Bar 2'"
          [progress]="progressBarValue2"
        ></app-incrementer>
      </div>
    </div>
  </div>
</div>
