<div class="row animated fast fadeIn">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos del Médico</h4>
                <h6 *ngIf="!medico._id" class="card-subtitle">Indique los datos del médico que desea agregar</h6>
                <form ngNativeValidate #f="ngForm" (submit)="actualizar(f)" class="form p-t-20">
                    <div class="form-group">
                        <label>Nombre del médico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input
                                [(ngModel)]="medico.nombre"
                                name="nombre"
                                type="text"
                                class="form-control"
                                placeholder="Nombre del Médico"
                                required
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital asignado</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-hospital-building"></i></div>
                            <select
                                (change)="cambioHospital($event.target.value)"
                                [(ngModel)]="medico.hospital"
                                name="hospital"
                                class="form-control wid-150"
                                required
                            >
                                <option value="">Seleccione un hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{ hospital.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-info waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-12 col-lg-6 card">
                <div class="card-body">
                    <h4 class="card-title">Imagen de Hospital</h4>
                    <h6 class="card-subtitle">{{ hospital.nombre }}</h6>
                    <div class="text-center">
                        <img *ngIf="imagenHospitalTemp" [src]="imagenHospitalTemp" class="card-img-bottom img-thumb rounded" />
                        <img
                            *ngIf="!imagenHospitalTemp"
                            [src]="hospital.img | imagen: 'hospital'"
                            class="card-img-bottom img-thumb rounded"
                        />
                    </div>
                </div>
            </div>
            <div *ngIf="medico.nombre" class="col-sm-12 col-lg-6 card">
                <div class="card-body selector" (click)="actualizarImagen()">
                    <h4 class="card-title">Fotografía de Médico</h4>
                    <h6 *ngIf="!medico.nombre" class="card-subtitle">Nombre del Médico</h6>
                    <h6 class="card-subtitle">Dr. {{ medico.nombre }}</h6>
                    <div class="text-center">
                        <img *ngIf="imagenMedicoTemp" [src]="imagenMedicoTemp" class="card-img-bottom img-thumb rounded" />
                        <img *ngIf="!imagenMedicoTemp" [src]="medico.img | imagen: 'medico'" class="card-img-bottom img-thumb" />
                    </div>
                    <button type="button" class="btn btn-info btn-block waves-effect waves-light mt-3">
                        <i class="fa fa-pencil-square-o"></i>
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
